header
  nav.main-header.navbar.navbar-expand.navbar-light(style="display: flex;justify-content: center;height: 75px;")
    div(style="width: 75vw;display: flex;justify-content: space-between;")
      div(style="display: flex;align-items: center;")
        a(href="/")
          img(src='/image/header-logo.jpg' alt="url4u logo" style="opacity:.9;display:flex;width:100px;")
          span.brand-text.font-weight-light 
        a.nav-link(href="/user/company" style="color: rgba(0,0,0,.5);") My Url Groups
      a.btn.btn-primary(id="user" role="button") 