extends layout.pug

block content
  div(class="content-wrapper")
    section(class="breadcrumb") 
      div.container
        ol.breadcrumb   
          li.breadcrumb-item 
            a(href="/") Home 
          li.breadcrumb-item.active 
            a(href="/user/company") My Url Groups
          li.breadcrumb-item.active 
            a(id="back-company") My Url Group
    section(class="content-header row" style="justify-content: center;")

      div(class="col-10")
        div(class="card-header" style="background-color: #f4f6f9;padding-bottom: 25px;border: 1px solid #f4f6f9;")
          div(class="card-tools")
            form(action="#" method="POST" enctype='application/json' id="add-company-url") 
              div(style="display: flex;")
                input.form-control(name="long_url" placeholder="https://" type="url" required style="margin-right: 10px;width: 250px;")  
                button(type="submit" class="btn  btn-warning btn-sm" style="color: white;") Shorten Url
        div(class="card")

          div(class="card-body table-responsive p-0" id="lists")
    script.
      import(`/js/company_url.js`)
