extends layout.pug

block content
  div.content-wrapper
    section.breadcrumb
      div.container
          ol.breadcrumb   
            li.breadcrumb-item 
              a(href="/") Home 
            li.breadcrumb-item.active 
              a(href="/user/company") My Url Groups
            li.breadcrumb-item.active Manage Url Group
  
    section(class="content-header row")
      div(class="col-1")
      div(class="col-10")
        div(class="card")
          div(class="card-header")
            h3(class="card-title") Url Group Members
            div(class="card-tools")
              form(action=`/api/1.0/company/user` method="POST" enctype='application/json' id="add-company-user") 
                div.input-group.input-group-sm 
                  select.form-control(name="user_role" required style="min-width:50px")
                    option(value=0) Admin 
                    option(value=1) Editor 
                    option(value=2) Viewer
                  input(name="user_email" placeholder="new user email" class="form-control" required style="min-width:200px")                 
                  button(type="submit" class="btn  btn-primary btn-sm") Add User
          div
          div(class="card-body table-responsive p-0" id="lists")


    script.
      import(`/js/company_user.js`)