extends layout.pug

block content
  div.content-wrapper
    section.breadcrumb
      div.container
          ol.breadcrumb   
            li.breadcrumb-item 
              a(href="/") Home 
            li.breadcrumb-item.active 
              a(href="/user/company") Groups
            li.breadcrumb-item.active Manage Group
  
    section(class="content-header row" style="display: flex;justify-content: center;")
      div(class="col-10" style="flex: 0 0 70%;max-width: 70%;")
        div(class="card-header" style="background-color: #f4f6f9;padding-bottom: 25px;border: 1px solid #f4f6f9;")
          div(class="card-tools")
            form(action=`/api/1.0/company/user` method="POST" enctype='application/json' id="add-company-user") 
              div(style="display: flex;")
                select.form-control(name="user_role" required style="margin-right: 10px; width:100px;")
                  option(value=0) Admin 
                  option(value=1) Editor 
                  option(value=2) Viewer
                input.form-control(name="user_email" placeholder="New User Email" required style="margin-right: 10px; width:200px;")                 
                button(type="submit" class="btn  btn-warning btn-sm"  style="color: white;") Add User
        div(class="card")
          div
          div(class="card-body table-responsive p-0" id="lists")


    script.
      import(`/js/company_user.js`)