extends layout.pug

block content
  div(class="content-wrapper")
    section(class="content-header row")
      div(class="col-1")
      div(class="col-10")
        div(class="card")
          div(class="card-header")
            h3(class="card-title") Links in Url Group
            div(class="card-tools")
              div(class="input-group input-group-sm" style="width: 150px;")
                input(type="text" name="table_search" class="form-control float-right" placeholder="Search")
                div(class="input-group-append")
                  button(type="submit" class="btn btn-default")
                    i(class="fas fa-search")
          div
            form(action="#" method="POST" enctype='application/json' id="add-company-url") 
              div(class="input-group input-group-sm" style="width: 300px;")
                input(name="long_url" placeholder="https://" class="form-control" type="url" required )  
                div(class="input-group-append")               
                  button(type="submit" class="btn  btn-primary btn-sm") Shorten Url
          div(class="card-body table-responsive p-0" id="lists")
    script.
      import(`/js/company_url.js`)
      