extends layout.pug

block content
  div(class="content-wrapper center")
    div(class="col-sm-6 row")  
      h2(class="m-0") Shorten Your Url Now!
        form(action="/api/1.0/url" method="POST" enctype='application/json' id="create-short-url") 
          div
            img(src="/image/favicon.jpg" width="24")
            input(id="long_url" name="long_url" type="url" placeholder="https://" class="input-round" required )                  
          div(id="company") 
          div(id="submit")   
            button(type="submit" class="btn  btn-primary btn-sm") Shorten
    script.
      import(`/js/index.js`)

 


