extends layout.pug

block content
  h4 Get your short url now
    form(action="/api/1.0/url" method="POST" enctype='application/json' id="create-short-url") 
      div
        label(for="company_id") company id:
        input(id="company_id" name="company_id" required) 
      div
        label(for="long_url") long url:
        input(id="long_url" name="long_url" required ) 

      div(id="submit") 
        button(type="submit" class="btn") Create Url
  
    script.
      import(`/js/index.js`)


