extends layout.pug

block content
  div.content-wrapper.center
    div.row
      div.col-sm-3.row  
        h2.m-0 Shorten Your Url Now!
          form(action="/api/1.0/url" method="POST" enctype='application/json' id="create-short-url")             
            div
              input(id="long_url" name="long_url" type="url" placeholder="https://" class="input-round" required )                  
            div(id="company") 
            div(id="submit")   
              button(type="submit" class="btn  btn-primary btn-sm") Shorten
    script.
      import(`/js/index.js`)

 


