doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title  URL4U
    link(rel="shortcut icon" href="/image/favicon.ico") 
  body
    include includes/header.pug
    block content
    include includes/footer.pug