extends layout.pug

block content
  h4 Modify your short url now
    form(action="/api/1.0/modify_url" method="post" enctype="multipart/form-data" id="update-short-url") 
      div 
        label(for="short_url") short url: 
        input(id="short_url" name="short_url"  ) 
      div
        label(for="long_url") long url:
        input(id="long_url" name="long_url" ) 
      div
        label(for="picture") picture:
        input(id="picture" name="picture" type="file" accept="image/png, image/jpeg, image/jpg" ) 
      div
        label(for="title") title:
        input(id="title" name="title") 
      div
        label(for="description") description:
        input(id="description" name="description"  ) 
      div(id="submit") 
        button(type="submit" class="btn") Modify Url

    
    script.
      import(`/js/modify.js`)
