extends layout.pug

block content
  div(class="content-wrapper")
    div(class="content-header")
      div(class="container-fluid")
        div(class="row mb-2")
          div(class="col-sm-6")
            h1(class="m-0") Sorry, the url you seek appear to be invalid