extends layout.pug

block content
  div(class="content-wrapper center")
    div(class="content-header")
      div(class="container-fluid")
        div(class="row mb-2")
          div(class="col-sm-6 text-nowrap")
            h1(class="m-0") Url appear to be invalid!