extends layout.pug

block content
  div.content-wrapper.center
    div.content-header
      div.container-fluid
        div.row.mb-2
          div.col-sm-6.text-nowrap
            h1.m-0 Url appear to be invalid!