extends layout.pug

block content 
  div(class="content-wrapper")
    div(class="content-header")
      div(class="container-fluid")
        div(class="row mb-2")
          div(class="col-sm-6")
            h1(class="m-0") Link Performance
        div(class="row")
          div(class="col-12 col-sm-6 col-md-2")
            div(class="info-box")
              span(class="info-box-icon bg-info elevation-1")
                i(class="fas fa-link")
              div(class="info-box-content")
                span(class="info-box-text") Total Clicks
                span(class="info-box-number" id="total-clicks") 0
          div(class="col-12 col-sm-6 col-md-2")
            div(class="info-box")
              span(class="info-box-icon bg-danger elevation-1")
                i(class="fas fa-map-marker-alt")
              div(class="info-box-content")
                span(class="info-box-text") Top Location
                span(class="info-box-number" id="top-region") /
          div(class="col-12 col-sm-6 col-md-2")
            div(class="info-box")
              span(class="info-box-icon bg-success elevation-1")
                i(class="fas fa-cog")
              div(class="info-box-content")
                span(class="info-box-text") Top Device
                span(class="info-box-number" id="top-device") /
          div(class="col-12 col-sm-6 col-md-2")
            div(class="info-box")
              span(class="info-box-icon bg-warning elevation-1")
                i(class="fas fa-comments")
              div(class="info-box-content")
                span(class="info-box-text") Top Referer
                span(class="info-box-number" id="top-referer") /
        div(class="row")      
          div(class="col-md-4")
            div(class="card")
              div(class="card-header")
                h3(class="card-title") Time-Clicks
                div(class="class-tools")
              div(class="card-body")
                div(class="chartjs-size-monitor")
                  div(class="chartjs-size-monitor-expand")
                  div(class="chartjs-size-monitor-shrink")
                  canvas(id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 667px;" width="667" height="250" class="chartjs-render-monitor")
          div(class="col-md-2")
            div(class="card")
              div(class="card-header")
                h3(class="card-title") Location
                div(class="class-tools")
              div(class="card-body")
                div(class="chartjs-size-monitor")
                  div(class="chartjs-size-monitor-expand")
                  div(class="chartjs-size-monitor-shrink")
                  canvas(id="locationPieChart" height="78" width="156" style="display: block; width: 156px; height: 78px;" class="chartjs-render-monitor")
          div(class="col-md-2")
            div(class="card")
              div(class="card-header")
                h3(class="card-title") Device
                div(class="class-tools")
              div(class="card-body")
                div(class="chartjs-size-monitor")
                  div(class="chartjs-size-monitor-expand")
                  div(class="chartjs-size-monitor-shrink")
                  canvas(id="devicePieChart" height="78" width="156" style="display: block; width: 156px; height: 78px;" class="chartjs-render-monitor")
          div(class="col-md-2")
            div(class="card ")
              div(class="card-header")
                h3(class="card-title") Referer
                div(class="class-tools")
              div(class="card-body")
                div(class="chartjs-size-monitor")
                  div(class="chartjs-size-monitor-expand")
                  div(class="chartjs-size-monitor-shrink")
                  canvas(id="refererPieChart" height="78" width="156" style="display: block; width: 156px; height: 78px;" class="chartjs-render-monitor")
  script(src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js")
  script.
    import(`/js/url_analytic.js`)