extends layout.pug

block content
  div.register-page
    div.register-box
      div.card
        div.card-body
          img(src="/image/header-logo.jpg" width="100%")
          p.login-box-msg Register a new membership
          form(action="/api/1.0/user/register" method="post" id="register")
            div.input-group.mb-3
              input.form-control(type="text" placeholder="Name" name="name")
              div.input-group-append
                div.input-group-text
                  span.fas.fa-user
            div.input-group.mb-3
              input.form-control(type="email" placeholder="Email" name="email")
              div.input-group-append
                div.input-group-text
                  span.fas.fa-envelope
            div.input-group.mb-3
              input.form-control(type="password" placeholder="Password" name="password")
              div.input-group-append
                div.input-group-text
                  span.fas.fa-lock
            div.row
              div.col-8
                div.icheck-primary
                  input(type="checkbox" id="agreeTerms" name="terms" value="agree")
                  label(for="agreeTerms" style="padding-left:5px;")  I agree to the 
                    a(href="#") terms
              div.col-4
                button.btn.btn-primary.btn-block(type="submit") Register
          p.mb-1
            a(href="/user") I already have a membership

  script.
    import(`/js/user_register.js`)