extends layout.pug

block content
  div(class="register-page")
    div(class="register-box")
      div(class="card")
        div(class="card-body")
          img(src="/image/header-logo.jpg" width="100%")
          p(class="login-box-msg") Register a new membership
          form(action="/api/1.0/user/register" method="post" id="register")
            div(class="input-group mb-3")
              input(type="text" class="form-control" placeholder="Name" name="name")
              div(class="input-group-append")
                div(class="input-group-text")
                  span(class="fas fa-user")
            div(class="input-group mb-3")
              input(type="email" class="form-control" placeholder="Email" name="email")
              div(class="input-group-append")
                div(class="input-group-text")
                  span(class="fas fa-envelope")
            div(class="input-group mb-3")
              input(type="password" class="form-control" placeholder="Password" name="password")
              div(class="input-group-append")
                div(class="input-group-text")
                  span(class="fas fa-lock")
            div(class="row")
              div(class="col-8")
                div(class="icheck-primary")
                  input(type="checkbox" id="agreeTerms" name="terms" value="agree")
                  label(for="agreeTerms" style="padding-left:5px;")  I agree to the 
                    a(href="#") terms
              div(class="col-4")
                button(type="submit" class="btn btn-primary btn-block") Register
          p(class="mb-1")
            a(href="/user") I already have a membership

  script.
      import(`/js/user_register.js`)