extends layout.pug

block content
  div(class="login-page" style="min-height: 466px;")
    div(class="login-box")
      div(class="card")
        div(class="class-header text-center")
          a(href="/" class="h1")
            b URL4U 
        div(class="card-body")
          p(class="login-box-msg") Sign in to start your session
          form(action="/api/1.0/user" method="post" id="sign-in")
            div(class="input-group mb-3")
              input(type="email" class="form-control" placeholder="Email" name="email")
              div(class="input-group-append")
                div(class="input-group-text")
                  span(class="fas fa-envelope" )
            div(class="input-group mb-3")
              input(type="password" class="form-control" placeholder="Password" name="password")
              div(class="input-group-append")
                div(class="input-group-text")
                  span(class="fas fa-lock" )
            div(class="row")
              div(class="col-8")
                div(class="icheck-primary")
                  input(type="checkbox" id="remember" name="remember")
                  label(for="remember") Remember Me
              div(class="col-4")
                button(type="submit" class="btn btn-primary btn-block") Sign In 
          div(class="social-auth-links text-center mt-2 mb-3")
            a(href="#" class="btn btn-block btn-primary")  
              i(class="fab fa-facebook mr-2") 
              |Sign in with Facebook 
          p(class="mb-1")
            a(href="#") I forgot my password 
          p(class="mb-1")
            a(href="/user/register") Register a new Membership

  script.
      import(`/js/user.js`)