extends layout.pug

block content
  div(class="content-wrapper")
    section(class="breadcrumb") 
      div.container
        ol.breadcrumb   
          li.breadcrumb-item 
            a(href="/") Home 
          li.breadcrumb-item.active My Url Groups
    section(class="content-header row")
      div(class="col-1")
      div(class="col-10")
        div(class="card")
          div(class="card-header")
            h3(class="card-title") My Url Groups
            div(class="card-tools")
              form(action="/api/1.0/company" method="POST" enctype='application/json' id="create-company") 
                div(class="input-group input-group-sm" style="width: 200px;")
                  input.form-control(id="company_name" name="company_name" placeholder="New Url Group"  required )                  
                  button(type="submit" class="btn  btn-primary btn-sm") Create
          div

          div(class="card-body table-responsive p-0" id="lists")


    script.
      import(`/js/user_company.js`)