extends layout.pug

block content
  div.login-page
    div.login-box
      div.card
        div.card-body
          img(src="/image/header-logo.jpg" width="100%")
          p.login-box-msg Sign in to start your session
          form(action="/api/1.0/user" method="post" id="sign-in")
            div.input-group.mb-3
              input.form-control(type="email" placeholder="Email" name="email")
              div.input-group-append
                div.input-group-text
                  span.fas.fa-envelope
            div.input-group.mb-3
              input.form-control(type="password" placeholder="Password" name="password")
              div.input-group-append
                div.input-group-text
                  span.fas.fa-lock
            div.row
              div.col-8
                div.icheck-primary
                  input(type="checkbox" id="remember" name="remember")
                  label(for="remember" style="padding-left:5px;") Remember Me
              div.col-4
                button.btn.btn-primary.btn-block(type="submit") Sign In 
          p.mb-1
            a(href="/user/register") Register a new Membership

  script.
    import(`/js/user.js`)