.center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.td {
  overflow: hidden;
  text-overflow: ellipsis;
}
